/* body scroll-behavior: smooth; 
  background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #555;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}


/*body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
} */




#menu{

  background-color: #FFBC13;
  position:fixed;
 left: 0px;
 right: 2px;
  width: 2px;
  top:0px;
  bottom: 90%;
  
  width: 100%;
  display: block;
  transition: top 0.3s;
  /* position: relative; */
  /* border-top-color: initial;
    border-top-style: none;
    border-top-width: medium;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: medium;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: medium;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 0;
    position: relative; */
}
  /* overflow: auto;
  white-space: nowrap;
  /* overflow: hidden;
  background-color: #f1f1f1;
  padding: 90px 10px; */
  /* width: 100%;
  top: 0;
  z-index: 99; */ 
  

div#menu a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 2px;
  height: 50px;
  text-decoration: none;
  font-size: 20px;
  /* position: relative; */
  /* display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  /* float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px; */ 
}
.footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: "30%";
   background-color:#442D1E;
   color: white;
   text-align: left;
}
div.menu :hover {
  background-color:black;
  /* background-color: #ddd;
  color: black; */

}


#menu-right:hover{
  color: white;
}
.link{
 margin-top: 0px;
}

.link:hover{
  border: "1px none blue";}
.wourd:hover{
  color: white;
}
/* body{
   background-image:url("/1.jpg");
 } */
 body {
 /* background-image: url("/1.jpg");*/
  /* Full height */
  /* height: 100%;  */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
/* #menu #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
} */

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(8, 8, 8, 0.19);
    
    overflow: auto;
  }
.ux{
  padding: 15px 25px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:#FFBC13;
  border: none;
  border-radius: 0px;
  margin-top: 20px;
  
}
.imag:hover{
  opacity: 0.8;
}
.ux:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(8, 8, 8, 0.19);
  }
  .ux:active {
    background-color: #FFBC13;
    
    transform: translateY(4px); 
  }
  .ma {
    padding: 20px;
    font-size: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .ma:hover {
      opacity: 0.5;
  }
  
  .fa {
    padding: 20px;
    font-size: 60px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.5;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: white;
    color: white;
  }
  .r:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(8, 8, 8, 0.19);
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: red;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }

  .profile-container {
    display: inline-block;
  }
  
  .profile {
    border: red none 1px;
    width: 387px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    margin: 13px;
  }
  .profile-container{
    display: inline-block;
    margin-top: 50;
    margin-left: 13px;
    margin-top: 165px;
  }
  .photo:hover{
    opacity: 0.8;
  }
  .photo {
    width: 200px;

  }
.style{
  display: inline-block;
   margin-top:"20%";
    margin-bottom:"80%";
    background:"white";
    display: 'flex'; 
    justify-content:'space-between';
    border-width: 1px;
    border-bottom-style: none;
    border-bottom-color: rgb(234, 234, 234);
    
    /* box-sizing: border-box; */
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    
}
.title{
/* color:"black";font-size:"52px" */
font-size: 24px;
    color: #333;
    margin: 0 0 8px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}
.f{
  padding-top: 188px;
    padding-right: 149px;
    padding-bottom: 80px;
    padding-left: 99px;
display: flex;

}

.p{
  /* text-indent:30;margin-top:'8%';font-weight:'bold';text-align:'justify';color:'black';float:"right" */
  font-size: 14px;
    margin-bottom: 15px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width:"500px";
}
.img{
  /* height:"350px";width:"400px";margin-right:"10%"; */
  transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    height: 100px;
    width: 100px;
    border: 1px solid white;
    

/* float: left; */
    border: none;
    outline: none;


    vertical-align: middle;


    border: 0;
  }
  /* .header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)

  } */


  .carousel{

    
    top: 60px;
  }

  .w-100{    height: 600px !important;
    width: 101px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact1 {
    width: 100%;
    min-height: 100%;
    padding: 15px;

    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    background: -o-linear-gradient(left, #0072ff, #00c6ff);
    background: -moz-linear-gradient(left, #0072ff, #00c6ff);
    background: linear-gradient(left, #0072ff, #00c6ff);
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .container-contact1 {
    width: 1163px;
   
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image:url("/public/1.jpg");
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
  
    padding: 90px 130px 88px 148px;
    margin-top: -148px;

  }
  
  /*------------------------------------------------------------------
  [  ]*/
  .contact1-pic {
    width: 296px;
  }
  .input1 {
    display: block;
    width: 100%;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    
  }
  .wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
  }
  @media (max-width: 1200px) {
    .contact1-pic {
      width: 33.5%;
    }
  }
  @media (max-width: 768px) {
    .container-contact1 {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
      background-image:url("/1.jpg");
    }
  }
  .validate-input {
    position: relative;
  }
  .contact1-pic {
    display: none;
  }

  
  .shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
  }
  
  .input1:focus + .shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  .contact1-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
  }
  .contact1-pic img {
    max-width: 100%;
  }
  @media (max-width: 992px) {
    .container-contact1 {
      padding: 90px 80px 88px 90px;
    }
  
    .contact1-pic {
      width: 35%;
    }
  
    .contact1-form {
      width: 55%;
    }
  }
  
  @media (max-width: 768px) {
    .container-contact1 {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
      background-image:url("/public/1.jpg");
    }
  }

/* .h2{
  width: 360px;
  height: 300px;
 margin-top: -5%;
}
.container{
  position: relative;
  width:90%;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap:0 40px;
}
.container .box{
  position: relative;
  height:400px;
  background: #060c21;
  display:flex;
  justify-content: center;
  align-items:center ;
  border:1px solid #000;
}
.content{
  position: relative;
  padding: 20px;
}
.box .containt h2{
  position: absolute;
  top:-60px;
  right:20px;
  margin:0;
  padding:0;
  font-size: 10em; 
  color:rgb(255,255,255,.05);
  transition: 0.5s;
}
.box:hover .content h2{
  top:-140px;
}
.box .content button{
  position: relative;
  margin:20 0 0px;
  padding:10px 20px;
  display: inline-block;
  color: #fff;
  transition:  0.5s;
 

}
.container .box::before{
  content:'';
  position: absolute;
  top:-2px;
  left:-2px;
  right:-2px;
  background: #fff;
  transform: skew(2deg,2deg);
  z-index: -1;
}
.container .box:nth-child(1):before{ 
  background:linear-gradient(315deg,#ff0057,#e64a19)

}
.container .box:nth-child(2):before{ 
  background:linear-gradient(315deg,#ff0057,#e64a19)

}
.container .box:nth-child(3):before{ 
  background:linear-gradient(315deg,#ff0057,#e64a19)

}
.box:hover .containt button{
  transform: translateY(0px);
  opacity: 1;
  visibility:visible;


} */

.presentation{
display: flex;
justify-content: space-between;
width: 1069px;
    margin-left: 143px;
    margin-top: 206px;
}


.par{

  width: 686px;

}
.h{

  width: 378px;

}